html {
font-family: 'RobotoDraft',sans-serif;
overflow-x: hidden;
}
body{
    background-color:#f9f9f9; 
    padding:0;
    margin:0;
}
#title{
    color:#e5ebfc;
}
#headerbar{
 height:70px;
 background-color:#35CACB;
    box-shadow: 0 3px 5px -2px #000;
    position: fixed; 
    width:100%;
}
#mainContent{
   padding-top:2%;
}
#timer{
    float:left;   
}
#timer > h3{
    display:inline-flex;
    padding-left:20px;
}
#timer > h3 > span{
    
    padding-left:20px;
    padding-right:20px;
}
#scoreContainer{
    float:right; 
    padding-right:10%;
}
#tasklist{
     width:50%;
    margin-left: auto;
    margin-right: auto;
}
ul > li{
   //margin:10px;
    padding:15px;
    list-style-type: none;
     border-bottom: 1px solid #aaa7a7;
}
ul >li > input[type=checkbox]{
    size: 100px;
    float:right;
}
ul >li > div{
    float:right;
}
ul >li > span{
    float:right;
}
ul > select{
    size: 100px;
    float:right;
}

table       { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 font-size: 12px;text-align:center;
/*width: 480px;*/

border-collapse: collapse;
 padding-left: 10px; padding: 0px 0px 10px 10px;}
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 10px; }
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. */
 
tbody tr:nth-child(even) td, 
tbody tr.even td  { 
	background: #E8EDFF; 
	/*width:75px;*/
}
 tr.even:hover  { 
	background-color: #ccc; 
}
tfoot       { font-style: italic; }
caption     { background: #eee; }