<html>
<head>
<link rel="stylesheet" href="stylesheet.css" type="css"/>
<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
</head>
<body>
    <div id="headerBar">
        
    </div>
    <div id="mainContent">
	<h2>Results:</h2>
	<table>
	    <tr><th>Team Name</th><th>Score</th><th>Tasks Completed</th></tr>
	    {%for team in teamList %}
	    <tr><td><a href="results.php?id={{team.id}}">{{team.teamName}}</a></td><td>{{team.score}}</td><td>{{team.tasksCompleted}}</td></tr>
	    {%endfor%}
	    
	    
	</table>