<html>
<head>
<link rel="stylesheet" href="stylesheet.css" type="css"/>
<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
</head>
<body>
    <div id="headerBar">
        <div id="timer"><h3>Time: <span id="time">2:00</span><button onclick="callTimer();">Start Time</button>
	<button onclick="resetTimer();">Reset Time</button></h3></div>
	
        <div id="scoreContainer"><h3>Score: <span id="score">0/857</span></h3></div>
    </div>
    <div id="mainContent">
	<h2>Results:</h2>
	<table>
	    <tr><th>Team Name</th><th>Score</th><th>Tasks Completed</th></tr>
	    {%for team in teamList %}
	    <tr><td>{{team.teamName}}</td><td>{{team.score}}</td><td>{{team.tasksCompleted}}</td></tr>
	    {%endfor%}
	    
	    
	</table>