<head>
    <script type="text/javascript">
	var completed_array = [];
	{% for comp in completed %}
	    completed_array += "{{comp}}";
	{%endfor%}	
	
    </script>    
</head>
<body>
    <div id="headerBar">
        <div id="timer"><h3>Time: <span id="time">2:00</span><button onclick="callTimer();">Start Time</button>
	<button onclick="resetTimer();">Reset Time</button></h3></div>
	
        <div id="scoreContainer"><h3>Score: <span id="score">0/857</span></h3></div>
    </div>
    <div id="mainContent">
        <div id="title">
            <h3>Tasks:</h3>
        </div>
            <div id ="tasklist">
		<div id="teamName">Team Name: <input type="text" id="teamNameIn"/></div>
                    <ul>

                    <li>Opening Door:<input type="checkbox" class="score" name="doors" id="doors"/> </li> <!---->
                    <li>Cloud Access <input type="checkbox" class="score" name="clouds" id="clouds"/></li><!---->
                    <li>Community Learning  <input type="checkbox" class="score" name="community" id="community"/></li><!---->
                    <li>Robotics Competition  <select name="robotComp" class="score" id="robotComp"><option value="-1">
                                            </option><option value="25">Insert</option>
                                            <option value="55">Insert and loop</option>
                                            </select></li><!---->
                    <li>Using the Right Senses <input type="checkbox" class="score" name="senses" id="senses"/></li><!---->
                    <li>Thinking Outside the Box <select name="outabox" class="score" id="outabox"><option value="-1"></option>
                                                <option value="25">Bulb Down</option>
                                                <option value="40">Bulb Up</option>
                                                </select></li><!---->
                    <li>Remote Communications  <input type="checkbox" class="score" name="remote" id="remote"/> </li><!---->
                    <li>Search Engine <select name="searchEngine" class="score" id="searchEngine"><option value="-1"></option>
                                        <option value="15">Slider</option>
                                        <option value="60">Slider and Loop</option>
                                        </select></li><!---->
                    <li>Sports <select name="sports" class="score" id="sports"><option value="-1"></option>
                                        <option value="30">Took a Shot</option>
                                        <option value="60">Shot and Goal</option>
                                        </select></li><!---->
                    <li>Reverse Engineering <select name="reverse" class="score" id="reverse"><option value="-1"></option>
                                                <option value="30">Basket</option>
                                                <option value="45">Basket and Model</option>
                                                </select></li><!---->
                    <li>Adapting to Changing Conditions <input type="checkbox" class="score" name="changing" id="changing"/> </li><!---->
                    <li>Apprenticeship<select name="apprenticeship" class="score" id="apprenticeship"><option value="-1"></option>
                                                    <option value="20">Model</option>
                                                    <option value="35">Touching Circle</option>
                                                    </select> </li>
                    <li>Engagement Number of Rotations<select name="engage" class="score" id="engage"><option value="-1"></option>
                    <option value="engaged">Engagement</option>
                    <?php for($x=0;$x<=58;$x++){echo "<option value=$x>$x</option>";}?>
                    </select></li>
                    <li>Project Based Learning <select name="pbl" class="score" id="pbl"><option value="-1"></option>
                    <?php for($x=0;$x<=8;$x++){echo "<option value=$x>$x</option>";}?>
                    </select></li>
                    <li>Penalty Points<select name="penalty" class="score" id="penalty"><option value="-1"></option>
                    <?php for($x=0;$x<=8;$x++){echo "<option value=$x>$x</option>";}?>
                    </select></li>
                        <li><button onclick="save()">Save Scores</button></li>
                    </ul>
                </div>
        </div>