<head>
    <link rel="stylesheet" href="stylesheet.css" type="css"/>
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
	var taskArray = [
	  ["insert","Key Inserted","robotComp"],
	  ["inandloop","Key Inserted,Loop Gotten","robotComp"],
	  ["bulbdown","Bulb Face Down","outabox"],
	  ["bulbup","Bulb Face Up","outabox"],
	  ["slider","Slider Pushed","searchEngine"],
	  ["sliderloop","Slider Pushed, Correct Loop Taken","searchEngine"],
	  ["shot","Shot Taken","sports"],
	  ["goal","Goal Scored","sports"],
	  ["basket","Basket Gotten","reverse"],
	  ["model","Model Assembled","reverse"],
	  ["legoModel","Has a lego model","apprenticeship"],
	  ["incircle","Model Placed in Circle","apprenticeship"]
	];
	function determineSelect(input) {
	    for(var x = 0; x<taskArray.length;x++){
		if (taskArray[x][0] == input) {
		    return x;
		}
	    }
	    return -1;
	}
	var completed_array = [];
	{% for comp in completed %}
	    completed_array.push("{{comp}}");
	{%endfor%}	
	
    </script>    
</head>
<body>
    <div id="headerBar">
        <div id="timer"><h3>Time: <span id="time">2:00</span><button onclick="callTimer();">Start Time</button>
	<button onclick="resetTimer();">Reset Time</button></h3></div>
	
        <div id="scoreContainer"><h3>Score: <span id="score">0/857</span></h3></div>
    </div>
    <div id="mainContent">
        <div id="title">
            <h3>Tasks:</h3>
        </div>
            <div id ="tasklist">
		<div id="teamName">Team Name: <input type="text" id="teamNameIn"/></div>
                    <ul>

                    <li>Opening Door:<div id="doors"/></div> </li> <!---->
                    <li>Cloud Access <div id="clouds"/></div></li><!---->
                    <li>Community Learning  <div id="community"/></div></li><!---->
                    <li>Robotics Competition  <div id="robotComp"></div></li>
                    <li>Using the Right Senses <div id="senses"/></div></li><!---->
                    <li>Thinking Outside the Box <div id="outabox"></div></li><!---->
                    <li>Remote Communications  <div id="remote"/> </div></li><!---->
                    <li>Search Engine <div id="searchEngine"></div></li><!---->
                    <li>Sports <div id="sports"></div></li><!---->
                    <li>Reverse Engineering <div id="reverse"></div></li><!---->
                    <li>Adapting to Changing Conditions <div id="changing"/></div> </li><!---->
                    <li>Apprenticeship<div id="apprenticeship"></div> </li>
                    <li>Engagement Number of Rotations<div id="engage"></div></select>></li>
                    <li>Project Based Learning <div id="pbl"></div></li>
                    <li>Penalty Points<div id="penalty"></div></li>
                        <li><button onclick="save()">Save Scores</button></li>
                    </ul>
                </div>
        </div>
</body>
<script type="text/javascript">
    for(var x = 0; x<completed_array.length;x++){
	    console.log(completed_array[x]);
	    taskLocation = determineSelect(completed_array[x]);
	    var stringId = completed_array[x];
	    console.log(taskLocation);
	    if ( taskLocation >= 0 ) {
		document.getElementById(taskArray[taskLocation][2]).innerHTML = taskArray[taskLocation][1];
	    }else{
		document.getElementById(stringId).innerHTML = "Task Completed";
	    }
	}
    
</script>
</html>